# API mode: mock | remote
EXPO_PUBLIC_API_MODE=mock
# Required only when API mode is remote
EXPO_PUBLIC_API_URL=https://api.example.com/v1

# Public application metadata
EXPO_PUBLIC_APP_NAME=Easy Starter
EXPO_PUBLIC_APP_SLUG=easy-starter-react-native-app
EXPO_PUBLIC_APP_SCHEME=easy-starter
EXPO_PUBLIC_IOS_BUNDLE_ID=dev.easystarter.app
EXPO_PUBLIC_ANDROID_PACKAGE=dev.easystarter.app
